
h1{
    /* color */

    /* #0->9a->f */

    /* rgb 1->255 */
    color: rgb(239, 20, 20);
    text-align: center;
}
p{
    color: green;
    text-indent:50px;
    font-size: 20px;
    word-spacing: 20px;
    line-height: 30px;
    width:100%;
    background-color: blue;
}