*{
    padding: 0px;
    margin: 0px;
}
@font-face{
  font-family:"Roboto", sans-serif;
  src:url(/TravelAndTourSCSS_PJ/Roboto-Black.ttf)
}
body{
  background-color: rgb(252, 251, 251);
} 

/*
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  } 
  
   .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
   
   /* start nav */
   
.nav_logo{
  width:100px ;
  height:90px ;
  margin-left:120px ;
  margin-top: 10px;
}

.nav_item{
  float: right;
}

.nav_item li{
  display: inline-block;
  margin-top:40px;
  margin-right: 50px;
}
.nav_item li a{
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.nav{
  box-shadow: 0px 10px 20px rgba(0, 0,0, 0.3);
}

.nav_item li a:hover{
  color: red;
}
/* end nav */

/* start bunner */

.carousel_img{
  width: 100%;
  opacity: .9;
}

.carousel_text{
  position:absolute;
  top:300px;
  left: 200px;
  color: white;
 background-color: rgba(0, 0,0, 0.2);
 padding: 40px;
}

.carousel_text h2{
  margin-bottom: 15px;
}

.travel_now{
  margin-top: 20px;
  background-color: red;
  color: white;
  padding: 15px 25px;
  border: 1px solid red;
  border-radius: 5px;
}

.travel_now:hover{
  cursor: pointer;
}
/* end bunner */


/* start popular tour */
.center_text{
  text-align: center;
}
.center_text h2{
  font-size: x-large;
  font-weight: 800;
}
.tour_content{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  grid-column-gap:20px ;  
  margin-top: 80px;
}
.boxx{
  position: relative;
}
.boxx img{
  width: 100%;
  height: 500%;
  object-fit: cover;
  border-radius: 10px;
  transition:  .3s;
  will-change: filter;
  display: block;
}

.boxx img:hover{
  filter:brightness(90%) hue-rotate(50deg);
  transform: scale(1.04);
  cursor: pointer;
}
.boxx img{
  overflow: hidden;
  display: inline-block;
}
.boxx h6{
  position: absolute;
  left: 25px;
  bottom: 95px;
  font-size: 18px;
  font-weight: 500;
}
.boxx h4{
  position: absolute;
  left: 25px;
  bottom: 65px;
  font-size: 18px;
  font-weight: 700;
}
/* end tour */
/* start reviews*/

.divided_one{
  border:1px solid rgb(81, 28, 227);
  margin: 30px 0px 5px 0px;
}
.title_one{
  text-align: center;
  margin-top: 50px;
  margin-left: 150px;
  color: red;
  font-size: xx-large;
  font-weight: 800;
}
.title_one span{
  color: black;
}
.box_conta{
  display: grid;
  grid-template-columns: auto auto auto auto ;
  margin: 20px 200px 0px;
  grid-column-gap: 35px;
  box-shadow: 15px rgba(0, 0,0, 0.2);
  border-radius: 5px;
  position: relative;

}


/* 
.attraction .news_text{
  padding:10px 5px 0px ;
  position:relative;
  width:93%;
  top:300px;
  left: 10px;
  color: white;
 background-color: rgba(0, 0,0, 0.2);
 padding: 10px;} */

.user img:hover{
  transform: scale(1.2);
  transition-duration: .8s;
}
.user img{
  overflow: hidden;
  display: inline-block;
}
.user img{
  width: 100%;
}

.box_conta .box .stars{
  position: relative;
  color: #999;
  line-height: 1.5rem;
  padding-top: 1.5;
  padding-bottom: 15px;
  font-size: 35px;
}


.box_conta .box .p{
  font-size: 30px;
}
.user .box_conta .box{
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.user .box_conta .box img{
  width:20%;
  height: 30%;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
.user .box_conta .box h3 span{
  font-size: 30px;
  color: #333;
} 

/* end reviews */

/* start feature */
.title{
  margin-top: 50px;
  margin-left: 150px;
}

.divided{
    width:80px;
    border:1px solid red;
    margin-left: 150px;
}


.attraction{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 20px 150px 0px;
  grid-column-gap: 25px;
}

/* 
.attraction .news_text{
  padding:10px 5px 0px ;
  position:relative;
  width:93%;
  top:300px;
  left: 10px;
  color: white;
 background-color: rgba(0, 0,0, 0.2);
 padding: 10px;} */

.new_img:hover{
  transform: scale(1.2);
  transition-duration: .8s;
}
.image_hover{
  overflow: hidden;
  display: inline-block;
}
.new_img{
  width: 100%;
}

/* end feature */
/* start footer */
.footer{
  background-color: black;
  margin-top: 50px;
  color: white;
  padding: 80px 0px 80px;
  display: grid;
  grid-template-columns: 800px 200px 200px auto;
}
.footer_about{
  margin-left: 100px;
}
.divided_footer{
  width: 80px;
  border: 2px solid red;
  margin-bottom: 10px;
  margin-top: 5px;
}
.footer_about p{
  width: 80%;
  line-height: 20px;
}
.footer_nav_item{
  color: white;
  display: block;
  text-decoration: none;
  margin-top: 20px;
}
.footetr_address{
  margin-top: 20px;
}
.address_icon{
  padding-right: 10px;
}
.footer_social_icon a{
  color: white;
  margin-top: 20px;
  display: inline-block;
  margin-right: 15px;
}
/* end footer */



/* start Himalayas */


.expect_inle{
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.expect_inle_p{
  font-weight: 550;
  margin:5px 150px 15px 150px;
  line-height: 1.5;
}
 .himalayas{
  margin: 7px 150px 5px 150px;
  display: grid;
  grid-template-columns:auto auto;
  align-items: center;
  grid-column-gap: 25px;
 }
 .himalayas_img img{
  width: 100%;
  height: 500;
  border-radius: 10px;
 }
/* 
 .himalayas_text h5{
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  color: red;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 5px;
 } */
 
 .himalayas_text h2{
  color: brown;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 15px;
 }
 
 .himalayas_text p{
  display: block;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 35px;
  text-align: justify;
 }
 /* end Himalayas */


 /* start book */
 .book{
  background-image: url(https://marketplace.canva.com/EAF5FxQlSGQ/1/0/1600w/canva-blue-and-white-illustrated-sky-and-airplane-desktop-wallpaper-zYA4XGHAYo0.jpg);
  padding: 50px;
 }

 .book_text h1{
  text-align: center;
  text-shadow: 0px .5px .5px rgba(120, 117, 117, 0.662);
  font-weight: 600;
 }


 .book_text h1 span{
  color: red;
}

.book .card{
  border-radius: 10px;
  box-shadow: 0px 3.5px 3.5px 3.5px rgb(13, 13, 13);
}
.book_img{
  width: 100%;
  height:1200%;
}
.book .row{
  margin-top: 30px;
}

.book .form .input{
  padding: 10px;
  color: black;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px -6px black;
}
.book .submit{
  width: 140x;
  font-size: 16px;
  font-weight: 550;
  background: red;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  transition: 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form_one{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

}
.book .submit{
  width: 140px;
}

.row{
  align-items: center;
  display: grid;
  grid-template-columns:45% 55%;
  /* grid-column-gap: 15px; */
  margin-top: 25px;
  grid-column-gap: 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 25px;
}

/* start Tour Packages */
.package_all{
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-column-gap: 15px; */
  margin-top: 25px;
  grid-gap: 30px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 25px;
}
.package_text h1{
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
}
.package_text h1 span{
  color: red;
}
.package .card{
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0,0, 0.1) 1.5px 1.5px 1.5px 1.5px;
}

.package .card img{
  border-radius: 5px;
  width: 100%;
  position: relative;
  height: 700%;
}

.package .card .card_body{
  background: transparent;
}

.package .card .card_body h3{
  font-size: 25px;
  font-weight: 550;
}
.price{
  font-weight: 500;
  margin-bottom: 20px;
}
.price span{
  font-weight: 550;
}
.package .card .card_body p{
  font-size: 15px;
}

.checked{
  color: red;
}

.stars i{
  font-size: 15px;
}

.package .card .card_body h6{
  font-size: 20px;
}

.package .card .card_body a{
  padding: 10px;
  text-decoration: none;
  background: red;
  color: white;
  border-radius: 5px;
}



/* COntact start */
.contact{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 0px;
}

form{
  width: 40%;
  margin: auto;
}

input[type="text"],input[type="email"],input[type="number"],input[type="date"]{
  width: 100%;
  height: 25px;
  outline: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus {
  border:2px solid grey;
  border-radius: 5px;
}

input[type="radio"]:checked+label{
  color: red;
  letter-spacing: 8px;
}

/* // */
.feature{
  margin: 50px 150px 150px 30px;
  text-align: center;
}
.feature_contact{
  display: grid;
  grid-template-columns:20% 20% 20% 20% 20%;
  align-items: center;
  text-align: center;
  gap: 0px;
}
.row_img{
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin:0 auto;
  margin-bottom: 0px;
  border-radius: 50%;
  cursor: pointer;
}
.row_img img{
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: transform 0.7s;
}
.row_img img hover{
  transform: scale(1.2);
}
.feature_contact h4{
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all .5s ;
}
.feature_contact h4:hover{
  color: red;

}
/* end contact */

.about_img {
  width: 100%;
  height: 500;
  border-radius: 10px;
 }
 
 .about{
  margin: 15px 150px 5px 150px;
  display: grid;
  grid-template-columns:53% auto;
  align-items: center;
  grid-column-gap: 30px;
 }
 
/* 
 .himalayas_text h5{
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  color: red;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 5px;
 } */
 
 .about_text h2{
  color: brown;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 15px;
 }
 
 .about_text p{
  display: block;
  font-weight: 525;
  line-height: 30px;
  margin-bottom: 35px;
  text-align: justify;
 }

 .about_image{
  width: 100%;
  opacity: .8;
 }
 /* end about */

/* start thing to do */
.thingsto{
  margin: 35px 150px 5px 150px;
  display: grid;
  grid-template-columns:53% auto;
  align-items: center;
  grid-column-gap: 40px;
 }
.thing_img{
    width: 80%;
    margin-left: 150px;
    margin-right: 150px;
    height:60%;
  opacity: 1;
}

.things_text h2{
  color: brown;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 15px;
 }
 
 .things_text p li{
  display: block;
  font-weight:600;
  line-height: 30px;
  margin-bottom: 35px;
  text-align: justify;
 }

 .thing_text_one{
  text-align: center;
  color: brown;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 15px;
 }
 .thing_text_two{
  font-weight:500;
  line-height: 30px;
  margin-top: 15px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 35px;
  text-align: justify;
 }
/* start Tour Packages */
.thingtodo{
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* grid-column-gap: 15px; */
  margin-top: 25px;
  grid-gap: 40px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 35px;
}
.thingtodo_text h1{
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  text-shadow: 0px .3px .3px black;
}
.thingtodo_text h1 span{
  color: red;
}
.things .card{
  border-radius: 5px;
  border: none;
  box-shadow: rgba(29, 28, 28, 0.1) .5px .5px .5px .5px;
}

.things .card img{
  border-radius: 5px;
  width: 100%;
  position: relative;
  height: 700%;
}

.things .card .card_body{
  background: transparent;
}

.things .card .card_body h3{
  font-size: 25px;
  font-weight: 525;
}
.things .card .card_body h6{
  font-size: 15px;
}


/* sunset */
.sunset_table{
  margin-left: 150px;
  margin-right: 150px;
}
.table{
  padding:10px 25px 10px;
}
.sunset_table th{
  background-color: rgb(152, 247, 247);
}
.sunset{
  text-align: center;
  margin: 50px 150px 50px 150px;
}
.sunset_gallery{
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
}
.gallary img{
  width: 90%;
  height: 100%;
}
.sunset_h4{
  margin-left: 150px;
  margin-right: 150px;
}
.sunset_p{
  margin-left: 150px;
  margin-right: 150px;
}



/* paln */
.plan{
  margin: 50px 150px 50px 150px;
}
.plan0{
  margin: 50px 150px 50px 150px;
}
.package_one{
  margin-top: 20px;
}

/* shopping */
.plan00{
  margin-left: 150px;
  margin-right: 150px;
  width: 80%;
  height: 500px;
}

/* inle  */
.inle_image{
  width: 90%;
  margin: 0px 150px 25px 150px;
  height: 75%;
}
.gallary_img{
  width: 90%;
  height: 100%;
}
/* pilgrimage */